@page "/CourseRegisterForm-validation"
@layout MainLayout 

<div class="container">
    <div class="row">
        <div class="col-7">
            <EditForm Model="@model" OnValidSubmit="HandleSubmit">
                <DataAnnotationsValidator />
                <div class="w-80 mx-auto">
                    <h3>Customer Contact Form</h3>
                    <div class="form-group mb-2">
                        <label>Full Name *</label>
                        <input class="form-control" @bind="model.FullName" />
                        <ValidationMessage For="@(() => model.FullName)" class="text-danger" />
                    </div>

                    <div class="form-group mb-2">
                        <label>Email *</label>
                        <input class="form-control" @bind="model.Email" />
                        <ValidationMessage For="@(() => model.Email)" class="text-danger" />
                    </div>

                    <div class="form-group mb-2">
                        <label>Phone Number *</label>
                        <input class="form-control" @bind="model.Phone" />
                        <ValidationMessage For="@(() => model.Phone)" class="text-danger" />
                    </div>

                     <div class="form-group mb-2">
                        <label>Select Service *</label>
                        <select class="form-control" @bind="model.SelectCourse">
                            @foreach (SelectCourses item in ListSelectCourse.Values)
                            {
                                <option value="@item.Name">@item.Name</option>
                            }
                        </select>
                    </div>

                    <div class="form-group my-3">
                        <label>Stydy Mode *</label>
                        <input class="form-check-input" id="Oneline" type="radio" value="Oneline" checked name="CheckStudy" @onclick="@(e => ChangePicker("Oneline"))" />
                        <label for="Online">Online</label>
                        <input class="form-check-input" id="OffLine" type="radio" value="OffLine" checked name="CheckStudy" @onclick="@(e => ChangePicker("OffLine"))"/>
                        <label for="OffLine">OffLine</label>
                    </div>

                    <div class="form-group mb-2">
                        <input type="datetime" @bind="model.StartDate" /> Preferred Start Date *
                        <ValidationMessage For="@(() => model.StartDate)" class="text-danger" />
                    </div>

                    <div class="form-group mb-2">
                        <label>Comment or note *</label>
                        <textarea class="form-control" placeholder="Enter any additional infomation" @bind="model.Message"></textarea>
                        <ValidationMessage For="@(() => model.Message)" class="text-danger" />
                    </div>


                    <div class="form-group mt-4 btn-sumarry">
                        <button type="submit" class="btn w-100 btn-primary mt-10">Register</button>
                    </div>
                </div>
            </EditForm>
        </div>

        <div class="col-4">
            <h3 class="mt-5">Submit</h3>
            <div class="alert alert-success" style="display: @(isSubmitted ? "block" : "none")">
                <p><strong>Full Name:</strong> @model.FullName</p>
                <p><strong>Email:</strong> @model.Email</p>
                <p><strong>Phone:</strong> @model.Phone</p>
                <p><strong>Message:</strong> @model.Message</p>
                <p><strong>Selected Service:</strong> @model.SelectCourse </p>
                <p><strong>I agree to the terms and conditions:</strong> @model.Check</p>
            </div>
        </div>
    </div>
</div>

@code {
    private CourseViewModel model = new CourseViewModel();
    private bool isSubmitted = false;

    void HandleSubmit()
    {
        isSubmitted = true;
        Console.WriteLine("Data saved successfully!");
    }
}
